#header .details br+span:before{
    content: "\00a0\2013\00a0";
}
#header .details{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
#header .details{
    color: #aaaaaa;
    font-size: 0.75em;
}
#header .details a{
    color: #aaaaaa;
}
#header h1{
    margin-bottom: 1px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #88ccff;
}
#toc{
    page-break-before: always;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#toctitle{
    font-size: 1.5em;
}
#toc ul{
    list-style-type: none;
}
#content h2{
    page-break-before: always;
}
#content .sectionbody{
    margin-left: 10px;
}
#content .literalblock{
    margin-left: 40px;
}
#footer{
    color: #cccccc;
    font-size: 0.6em;
}
#toc a{
    text-decoration: none;
    color: #3377aa;
}
#toc a:visited{
    color: #3377aa;
}

#toc a:hover{
    text-decoration: underline;
}
html{
    color: #383838;
    font-family: sans-serif;
}
#content .content{
    color: #000000;
}
.sectionbody{
    font-family: monospace;
}
.paragraph{
    color: #B00000;
}
em{
    color: #888888;
}
#content h1>a.anchor,h2>a.anchor,h3>a.anchor,#toctitle>a.anchor,.sidebarblock>.content>.title>a.anchor,h4>a.anchor,h5>a.anchor,h6>a.anchor{position:absolute;z-index:1001;width:1.5ex;margin-left:-1.5ex;display:block;text-decoration:none!important;visibility:hidden;text-align:center;font-weight:400}
#content h1>a.anchor:before,h2>a.anchor:before,h3>a.anchor:before,#toctitle>a.anchor:before,.sidebarblock>.content>.title>a.anchor:before,h4>a.anchor:before,h5>a.anchor:before,h6>a.anchor:before{content:"\00A7";font-size:.85em;display:block;padding-top:.1em}
#content h1:hover>a.anchor,#content h1>a.anchor:hover,h2:hover>a.anchor,h2>a.anchor:hover,h3:hover>a.anchor,#toctitle:hover>a.anchor,.sidebarblock>.content>.title:hover>a.anchor,h3>a.anchor:hover,#toctitle>a.anchor:hover,.sidebarblock>.content>.title>a.anchor:hover,h4:hover>a.anchor,h4>a.anchor:hover,h5:hover>a.anchor,h5>a.anchor:hover,h6:hover>a.anchor,h6>a.anchor:hover{visibility:visible}
#content h1>a.link,h2>a.link,h3>a.link,#toctitle>a.link,.sidebarblock>.content>.title>a.link,h4>a.link,h5>a.link,h6>a.link{color:#ba3925;text-decoration:none}
#content h1>a.link:hover,h2>a.link:hover,h3>a.link:hover,#toctitle>a.link:hover,.sidebarblock>.content>.title>a.link:hover,h4>a.link:hover,h5>a.link:hover,h6>a.link:hover{color:#a53221}